[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/kohana/cache.git
[submodule "modules/formo"]
	path = modules/formo
	url = git://github.com/bmidget/kohana-formo.git
[submodule "modules/kacela"]
	path = modules/kacela
	url = git://github.com/noah-goodrich/kohana-kacela.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = https://github.com/kohana/userguide.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = git://github.com/kohana/unittest.git
